<div class="timeslot-list">
  <div class="card" *ngFor="let order of orders" [ngClass]="{'bg-danger bg-gradient': !order.available}">
    <div class="card-body d-flex justify-content-between align-items-center  flex-row">
      <p class="mb-0">{{order.time}}</p>
      <span class="badge"
        [ngClass]="order.available ? 'bg-info': 'bg-danger'">{{order.available ? 'Available': 'Reserved'}}</span>
      <button class="btn btn-success" *ngIf="order.available" (click)="openDialog(order)">Order</button>
    </div>
  </div>
</div>