<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Abholzeit</th>
    <td mat-cell *matCellDef="let element">{{ element.time }}</td>
  </ng-container>

  <ng-container matColumnDef="available">
    <th mat-header-cell *matHeaderCellDef>Available</th>
    <td mat-cell *matCellDef="let element">{{ element.available }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div id="form">
  <form [formGroup]="orderForm">
    <mat-form-field>
      <mat-label>Uhrzeit</mat-label>
      <input
        type="time"
        matInput
        placeholder="Uhrzeit"
        formControlName="time"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Mein Name" formControlName="customer" />
    </mat-form-field>
    <!--<mat-checkbox [formControlName]="salami">Salami</mat-checkbox>
    <mat-checkbox [formControlName]="mozzarella">Mozzarella</mat-checkbox>-->
    <mat-form-field>
      <mat-label>Notiz</mat-label>
      <input matInput placeholder="Phone" formControlName="phone" />
    </mat-form-field>
    <button
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="!orderForm.valid"
      (click)="onSubmit()"
    >
      Bestellen
    </button>
  </form>
</div>
