// scrollable pizza list
.timeslot-list {
  height: 66vh;
  overflow-y: auto;
  overflow-x: hidden;
  // box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 1);

  &::-webkit-scrollbar {
    display: none;
  }
}

//pizza card 

.card {
  margin-top: 1rem;

  &:last-child {
    margin-bottom: 1rem;
  }
}