:host {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(50, 50, 50, 0.2);
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.4);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 32px auto 18px;
  max-width: 1000px;
  padding: 12px;

  h2 {
    font-size: 24px;
  }

  .pizzas {
    display: flex;
    box-sizing: border-box;
    flex: 1;
    flex-direction: column;

    .pizza {
      align-items: baseline;
      box-sizing: border-box;
      display: flex;
      flex: 1;
      flex-direction: row;
      margin: 12px;

      .id {
        color: rgba(0, 0, 0, 0.62);
        font-size: 28px;
        width: 60px;
      }

      .head {
        display: flex;
        flex-direction: row;

        h3 {
          color: rgba(0, 0, 0, 0.62);
          font-size: 32px;
          margin: 0;
          margin-bottom: 12px;
        }
        span {
          margin-left: 24px;
          font-size: 18px;
        }
      }

      .desc {
        color: rgba(0, 0, 0, 0.54);
        font-size: 24px;
      }
    }
  }
}
